C#工程/OPCMonitor/OPCMonitor/Service References/IMServiceReference/WHFCS.Server.Model.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WHFCS.Server.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WHFCS.Server.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBtAlarmAuto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BtAlarmAuto" nillable="true" type="tns:BtAlarmAuto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBtAlarmAuto" nillable="true" type="tns:ArrayOfBtAlarmAuto" />
  <xs:complexType name="BtAlarmAuto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlarmCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlarmInfo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlarmType" type="xs:int" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ConfirmUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Disposal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsReal" type="xs:int" />
      <xs:element minOccurs="0" name="MapCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ReceiveTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="SendTime" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BtAlarmAuto" nillable="true" type="tns:BtAlarmAuto" />
  <xs:complexType name="BtWeather">
    <xs:sequence>
      <xs:element minOccurs="0" name="Humidity" type="xs:double" />
      <xs:element minOccurs="0" name="Pressure" type="xs:double" />
      <xs:element minOccurs="0" name="Rainfall" type="xs:double" />
      <xs:element minOccurs="0" name="Temperature" type="xs:double" />
      <xs:element minOccurs="0" name="UpdateTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Vane" type="xs:double" />
      <xs:element minOccurs="0" name="Windspeed" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BtWeather" nillable="true" type="tns:BtWeather" />
</xs:schema>