C#工程/OPCMonitor/OPCMonitor/Service References/SMSServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="TKSend">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TKSendResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="TKSendResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSOfInterface">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TelList" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSOfInterfaceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSMSOfInterfaceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TKReceiveSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TKReceiveSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TKReceiveSMSResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendMessageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="receiveMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="receiveMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="receiveMessageResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="TKSendSoapIn">
    <wsdl:part name="parameters" element="tns:TKSend" />
  </wsdl:message>
  <wsdl:message name="TKSendSoapOut">
    <wsdl:part name="parameters" element="tns:TKSendResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSOfInterfaceSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMSOfInterface" />
  </wsdl:message>
  <wsdl:message name="SendSMSOfInterfaceSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSOfInterfaceResponse" />
  </wsdl:message>
  <wsdl:message name="TKReceiveSMSSoapIn">
    <wsdl:part name="parameters" element="tns:TKReceiveSMS" />
  </wsdl:message>
  <wsdl:message name="TKReceiveSMSSoapOut">
    <wsdl:part name="parameters" element="tns:TKReceiveSMSResponse" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="SendMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="receiveMessageSoapIn">
    <wsdl:part name="parameters" element="tns:receiveMessage" />
  </wsdl:message>
  <wsdl:message name="receiveMessageSoapOut">
    <wsdl:part name="parameters" element="tns:receiveMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="TKSend">
      <wsdl:input message="tns:TKSendSoapIn" />
      <wsdl:output message="tns:TKSendSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMSOfInterface">
      <wsdl:input message="tns:SendSMSOfInterfaceSoapIn" />
      <wsdl:output message="tns:SendSMSOfInterfaceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TKReceiveSMS">
      <wsdl:input message="tns:TKReceiveSMSSoapIn" />
      <wsdl:output message="tns:TKReceiveSMSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <wsdl:input message="tns:SendMessageSoapIn" />
      <wsdl:output message="tns:SendMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <wsdl:input message="tns:receiveMessageSoapIn" />
      <wsdl:output message="tns:receiveMessageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TKSend">
      <soap:operation soapAction="http://tempuri.org/TKSend" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSOfInterface">
      <soap:operation soapAction="http://tempuri.org/SendSMSOfInterface" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TKReceiveSMS">
      <soap:operation soapAction="http://tempuri.org/TKReceiveSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <soap:operation soapAction="http://tempuri.org/receiveMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TKSend">
      <soap12:operation soapAction="http://tempuri.org/TKSend" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMSOfInterface">
      <soap12:operation soapAction="http://tempuri.org/SendSMSOfInterface" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TKReceiveSMS">
      <soap12:operation soapAction="http://tempuri.org/TKReceiveSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://tempuri.org/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveMessage">
      <soap12:operation soapAction="http://tempuri.org/receiveMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://sms.whchem.com/Service/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://sms.whchem.com/Service/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>